.back{

    background-color: BLACK;
    opacity: 50%;
}
    

.organizar{
    margin-left: 15%;
    margin-top: 20px;
}

.opacidad{
    opacity: 80%;
}

.control{
    margin-bottom: 18px;
    margin-top: 15px;
    opacity: 70%;
}

